body{
	background: url('https://lastcorn.cf/styles/vertiforo/img/pattern.png');
	background-repeat: repeat;
}

/*
body{
	background: url('https://hittsad.ml/cdn/img/intro_reborn.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
*/